*.slo
*.o
*.out
solved/*.out
unsovled/*.out

# test case input and output
0_in.tc
0_out.tc

# vscode configuration
.vscode/
*dSYM/

# clion IDE configuration
.idea/
cmake-build-debug/

# macOS
.DS_Store
